.header {
    font-size: 2em;
    text-align: center;
    background-color: #c2c2c2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
}

.container img {
    border-radius: 50%;
}

.container h1 {
    font-size: 2em;
    color: #424242;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navLink {
    font-size: 1em;
    color: #424242;
    text-decoration: underline solid transparent;
    transition: text-decoration-color 0.3s ease;
    margin: 0 15px;
}

.navLink:hover {
    text-decoration-color: #424242;
}

.footer {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin-top: 20px;
}