.header {
    font-size: 2em;
    color: #2b2b2b;
    text-align: center;
    margin-top: 10px;
    background-color: #c2c2c2;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navLink {
    font-size: 1em;
    color: #2b2b2b;
    text-decoration: none;
    margin: 0 15px;
}

.navLink:hover {
    color: #292929;
    font-size: 1.1em;
    text-decoration: underline;
}

.footer {
    font-size: 1em;
    color: #666;
    text-align: center;
    margin-top: 20px;
}